html {
    scroll-behavior: smooth;
}

body {
    background-color: #DFDADD;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #051522;
    height: auto;
    padding-top: 250px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo {
    width: 150px;
    padding: 20px;
}

.header-title {
    color: #DAD3D7;
    font-size: 55px;
    width: 750px;
    padding: 10px;
}

.header-subtitle {
    color: #E59964;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.btnExpand {
    color: #F0F1F3;
    padding-top: 40px;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

#about {
    background-color: #F0F1F3;
    height: auto;
    padding: 10%;
}

#demo {
    padding: 100px;
    height: 400px;
}

#footer {
    padding-top: 100px;
    background-color: #F0F1F3;
    height: auto;
}

.team {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.profile {
    padding: 20px;
}

.profile-photo {
    width: 200px;
    border-radius: 120px;
    border: 10px solid #DFDBDD;
}

.memName {
    font-weight: 900;
    padding-top: 5px;
}

.memGithub {
    font-size: 16px;
    font-weight: 900;
    color: gray;
}

.memTitle {
    font-size: 16px;
    padding-top: 10px;
    font-weight: 100;
    color: gray;
}

.socials {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.footer-links {
    padding: 150px 0 50px 0;
    display: flex;
    justify-content: center;
}

.footer-link-section {
    width: 200px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-link-section a {
    font-size: 16px;
    text-decoration: none;
    color: #838E9F;
    padding: 3px 0;
}

.footer-copyright {
    background-color: #051522;
    color: #F0F1F3;
    font-size: 16px;
    font-weight: 900;
    padding: 15px;
}